html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.green {
    color: forestgreen;
}

.orange {
    color: darkorange;
}

.red {
    color: red;
}

#nodecoration {
    border: 0px solid white;
}

#tablemargin {
    margin-left: 10%;
}

#more {
    display: none;
}

#showmore:hover {
    cursor: pointer;
}

.subtask {
    padding-top: 10px;
    padding-right: 10px;
}
